body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1 {
    background-image: url(./images/image1.png);
    min-height: 100vh;
}

.pimg2 {
    background-image: url(./images/image2.png);
    min-height: 400px;
}

.pimg3 {
    background-image: url(./images/image3.png);
    min-height: 400px;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext1 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    color: #fff;
    font-size: 27px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.textBg1 {
    background-color: #313534;
    padding: 20px 40px;
    display: inline-block;
}

.ptext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
    width: 100%;
}

.textBg2 {
    background-color: transparent;
    padding: 20px 40px;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 27px;
}
.section_light{
    text-align: center;
    color: gray;
    background-color: #fff;
    font-size: 13px;
    padding: 50px 80px;
}
.section_light h2{
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 20px;
}
.section_dark{
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 13px;
    padding: 50px 80px;
}
.section_dark h2{
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 20px;
}
.section_light p,
.section_dark p {
    max-width: 900px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }
}